<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<footer>
  <a href="https://www.linkedin.com/learning/instructors/saban-unlu" target="_blank">
    <img src="../assets/img/linkedin-logo.png" alt="linkedin">
  </a>
  <a href="https://www.nettrek.de/" target="_blank">
    <img src="../assets/img/logo.png" alt="netTrek">
  </a>
  <a href="https://github.com/netTrek/LinkedIn_Angular_Grundlagen" target="_blank">
    <img src="../assets/img/github.png" alt="github">
  </a>
</footer>
